# -------------------------
# Python
# -------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Logs
# -------------------------
logs/*.log

# -------------------------
# Database
# -------------------------
database/*.db

# -------------------------
# Build artifacts
# -------------------------
build/
*.tar.gz

# -------------------------
# Deployment folder
# -------------------------
deployments/

# -------------------------
# Test cache
# -------------------------
.pytest_cache/

# -------------------------
# OS / IDE
# -------------------------
.DS_Store
.vscode/
.idea/

# -------------------------
# Environment variables
# -------------------------
.env